.hotelsLayout {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  .mapContainer {
    width: 100%;
    height: 30vh;
  }

  .sidebar {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .hotelsLayout {
    flex-direction: row;
    // total margin => 4.2rem
    // header height => 70px
    height: calc(100vh - (4.2rem + 70px));

    .mapContainer {
      width: 50%;
      height: 100%;
    }

    .sidebar {
      width: 50%;
      height: 100%;
      overflow-y: scroll;
    }
  }
}
