@use "./index.scss";

.app {
  position: relative;
  width: 100%;
}

.headerBackLayer {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: index.$dark-blue;
  z-index: -1;
  top: 0;
  left: 0;
}

.verticalSeparator {
  height: 100%;
  width: 1px;
  background-color: rgba(225, 225, 231, 51%);
}

.horizontalSeparator {
  height: 1px;
  width: 100%;
  background-color: rgba(225, 225, 231, 51%);
}

.map-button {
  position: absolute;
  z-index: 1000;
  bottom: 5px;
  left: 5px;
  background-color: index.$light-blue;
  color: index.$white-color;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 10px;
  box-shadow: 0 0 10px rgba(35, 87, 207, 0.535);
}

.currentHotel {
  background-color: rgb(33 44 70 / 10%) !important;
}

.primaryBtn,
.secondaryBtn {
  padding: 5px;
  border-radius: 5px;
}

.primaryBtn {
  color: index.$white-color;
  background-color: index.$light-blue;
}

.secondaryBtn {
  border: 1px solid index.$light-blue;
  color: index.$light-blue;
}

.centralize {
  display: flex;
  align-items: center;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    color: index.$secondary-font-color;
  }

  input {
    width: 100%;
    background-color: index.$white-color;
    margin-bottom: 15px;
    border-radius: index.$border-radius;
    padding: 10px;
    box-shadow: 0 0 10px #d2d3dc45;
  }
}

// DateRange style
.rdrMonth {
  width: 24.667em !important;
}

// leaflet style
.leaflet-container {
  border-radius: index.$border-radius;
}

.leaflet-control-attribution {
  visibility: hidden;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .headerBackLayer {
    height: 50px;
  }

  .rdrMonth {
    width: 27.667em !important;
  }
}
